* {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #f25d59;
}

a {
    font-family: sans-serif;
    color: rgba(45, 58, 50, 1);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}


/* RESPONSIVE SECTION */




@media screen and (max-width: 2000px) and (min-width: 101px) {
    h1 {
        font-size: 15em;
    }
    h4 {
        font-size: 1.5em;
    }
    img {
        height: 2em;
        width: 2em;
    }
    .wrap {
        width: 600px;
        margin: 180px auto;
    }
}



@media screen and (max-width: 600px) and (min-width: 101px) {
    h1 {
        font-size: 9em;
    }
    h4 {
        font-size: 1.2em;
    }
    img {
        height: 2em;
        width: 2em;
    }
    .wrap {
        width: 500px;
        margin: 180px auto;
    }
}


.topbar {


width: 100%;
position:fixed;
top: 0px;
height: 60px;
background-color: none;

position: fixed;

}


nav {
  margin-left: auto;
  margin-right: auto;
    height: 60px;
    max-width: 1000px;
    border-bottom: 1px solid black;
  background-color: none;

}

nav ul {
    float: right;
    margin-right: 25px;

    background-color: none;
}

nav li {
    float: left;
    padding-left: 15px;
    padding-top: 3px;
    display: inline-block;
    line-height: 56px;
    margin-top: 0;

    background-color: none;
}

nav li a {

  color: rgba(45, 58, 50, 1);
  text-decoration: none;
  -webkit-transition: all 500ms ease-out 50ms;
      -moz-transition: all 500ms ease-out 50ms;
      -o-transition: all 500ms ease-out 50ms;
      transition: all 500ms ease-out 50ms;
      padding-bottom: 20px;


      border-bottom: black solid 1px;


}

nav li a:hover {
    color: rgba(219, 222, 203, 1);
    border-bottom: rgba(219, 222, 203, 1) solid 4px;
    padding-bottom: 17px;

}

.wrap {
    text-align: center;
    position: relative;

}

h1 {
    color: rgba(45, 58, 50, 1);
    cursor: default;
}

h1:hover {
    color: rgba(45, 58, 50, 1);
}

h4 {
    color: rgba(219, 222, 203, 1);
    padding-bottom: 1em;
    cursor: default;
}

#icons img {
    height: 40px;
    width: 40px;
    opacity: 0.6;
}

#icons img:hover {
    opacity: 0.8;
}

.icon {
  fill: #ffffff;
}
