* {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    background: #183446;

}



@media screen and (max-width: 700px) and (min-width: 100px)  {
    
    h1 {
        
        font-size: 9em;
    }
    
    .wrap {
        
        width: 350px;
        margin: 100px auto;
       
        
    }
}


@media screen and (max-width: 2000px) and (min-width: 701px)  {
    
    h1 {
        
        font-size: 15em;
    }
    
    .wrap {
        
        width: 600px;
        margin: 180px auto;
        
    }
}





.wrap {
    
    
    
    text-align: center;
    position: relative;
   
    
    

}


h1 {
    
    
    color: rgba(0,0,0,0.4);
  
    
}



h1:hover {
    
    color: rgba(0,0,0,0.5);
  
    
}



#icons img {
    
    height: 40px;
    width: 40px;
    opacity: 0.4;
    
    
}

#icons img:hover {
    
    opacity: 0.5;
    
    
    
}